@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Orbitron', sans-serif; /* Robotic themed font */
    background-color: #0D1117; /* Updated dark background for a deeper, richer contrast */
    color: #C9D1D9; /* Updated text color for better readability against the dark background */    
}

.landing {
    background: url('background.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5% 5%; /* Responsive padding */
    width: 100%;
    height: 100%;
    animation: gentleGlow 30s infinite alternate; /* Updated animation for a subtle glow effect */
    
}

.title {
    font-size: calc(4vw + 1rem); /* Responsive font size */
    color: #58A6FF; /* Updated to a softer blue for a modern, techy feel */
    text-shadow: 0 0 5px #BFDBFE, 0 0 10px #BFDBFE, 0 0 15px #BFDBFE, 0 0 20px #1F6FEB; /* Softened glow effect */
    margin-bottom: 0.5em;
    animation: neonFlickerSmooth 3s infinite alternate; /* Smoothed flickering effect for readability */

}

.description {
    font-size: calc(2vw + 0.5rem); /* Responsive font size */
    max-width: 90%; /* Adjusting max width for better text alignment */
    margin: 0 auto;
    color: #080809; /* Updated to a softer blue for a modern, techy feel */
    text-shadow: 0 0 5px #BFDBFE, 0 0 10px #BFDBFE, 0 0 15px #BFDBFE, 0 0 20px #1F6FEB; /* Softened glow effect */    padding-bottom: 10%; /* Adjusted for better spacing */

}

.footer {
    position: relative; /* Adjusted to 'relative' for better positioning across devices */
    width: 100%;
    padding: 1em 0;
    background: rgba(13, 17, 23, 0.85); /* Slightly transparent for depth */
    text-align: center;
    font-size: calc(1vw + 0.5rem); /* Responsive font size */
    color: #58A6FF; /* Consistent with title color for uniformity */

}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.logo-container {
    text-align: center;
    padding: 10px;
}

#logo {
    width: 50vw; /* Responsive logo size */
    max-width: 200px; /* Ensuring it does not become too large */
    height: auto;
}

.logo-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: calc(1vw + 0.5rem); /* Taille de police légèrement réduite pour économiser de l'espace */
}

.site-header {
    width: 100%;
    padding: 1vw; /* Responsive padding */
    text-align: center;
    background: rgba(0, 0, 0, 0.854);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%; /* Padding réduit pour un aspect plus compact */
}

.nav-links a {
    padding: 5px 10px; /* Espace interne réduit pour chaque lien */
    font-size: calc(0.5vw + 0.5rem); /* Taille de police ajustée pour économiser de l'espace */
    color: #ddd;
    transition: color 0.3s ease;
}

#nav-logo-img {
    width: 15vw; /* Responsive logo size */
    max-width: 65px; /* Ensuring it does not become too small */
    height: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    color: #00ADEE;
    text-decoration: none;
}



.nav-links a:hover {
    color: #00ADEE;
}


/* Hover effects for interactivity */
#logo:hover, #nav-logo-img:hover {
    transform: scale(1.05); /* Subtle scale-up effect for a touch of dynamism */
}

.nav-links a:before {
    background-color: #58A6FF; /* Softer blue to match the overall theme */
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px 0;
    }

    .nav-links {
        margin-top: 10px;
        align-items: center;
    }

    .nav-links a {
        padding: 5px; /* Easier to tap on mobile */
        font-size: calc(2vw + 0.5rem); /* Slightly larger font size for better legibility */
    }

    #nav-logo-img {
        margin-bottom: 10px; /* Space below the logo when stacked */
    }
}
